<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

   <servlet>
       <servlet-name>HelloWorld</servlet-name>
       <servlet-class>helloheroku.HelloWorld</servlet-class>
       <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
       <servlet-name>HelloWorld</servlet-name>
       <url-pattern>/</url-pattern>
   </servlet-mapping>

</web-app>
